
.container.header-container {
  padding: 60px 0;
}

.intro-text .profile-img {
  max-height: 400px;
}

#about {
  background: #fff;
  color: #18bc9c;
}
#about .star-light {
  border-color: #18bc9c;
}
#about .star-light:after {
  color: #18bc9c;
  background: #fff;
}
#about a {
  color: #18bc9c;
}

.portfolio-category {
  font-style: italic;
  font-weight: normal;
  margin-top: 5%;
}

#portfolio {
  background: #18bc9c;
  color: #fff;
}
#portfolio .star-primary {
  border-color: #fff;
}
#portfolio .star-primary:after {
  color: #fff;
  background-color: #18bc9c;
}
#portfolio .container .row .portfolio-item {
  width: 50%;
}
#portfolio .container .row .portfolio-item.other {
  width: 33%;
}
#portfolio .container .row .portfolio-item .portfolio-link {
  width: 250px;
}
#portfolio .container .row .portfolio-item .portfolio-link .img-responsive {
  padding-top: 10%;
  width: 100%;
}
#portfolio .container .row .portfolio-item .img-responsive.portfolio-disabled {
  padding-top: 10%;
  opacity: 0.5;
  width: 100%;
}
#portfolio .container .row .portfolio-item h4 {
  margin: 25px auto 15px auto;
  text-align: center;
  width: 50%;
}
#portfolio .container .row .portfolio-item h6 {
  font-weight: 100;
  margin: auto;
  text-align: center;
  width: 50%;
}

/*#portfolio .container .row .store-links-container img {
  height: 75px;
  border-radius: 5px;
}*/

@media(max-width: 770px) {
  #portfolio .container .row .portfolio-item, #portfolio .container .row .portfolio-item.other {
      width: 100%;
      margin: auto;
    }
}
