 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Born in California and raised in the gorgeous state of Colorado, Lindsey recently felt her birthplace calling and relocated to the Bay Area, along with her husband and her puppy, to pursue a career in the tech world.
                    <br>
                    Lindsey spent her academic career as a psychology major, but then went through the hacker school Dev Bootcamp where she learned how to become a full stack web developer. She lives in the South Bay and is loving her job as a UI Software Engineer at <a href="http://proofpoint.com/">Proofpoint</a>.</p>
                </div>
                <div class="col-lg-4">
                    <p>But that’s not all! Lindsey has also self-published a book (a sci-fi young adult dystopian novel titled “Death Wish”), and is currently writing the sequel, “Thanatos”. She is also a self-taught lover of nail art, and runs her own website <a href="http://nailsfornickels.com">Nails for Nickels</a> with photos and tutorials of her own lovely (and occasionally nerdy!) nail art.
                    <br>
                    In her spare time Lindsey loves to read, write, hike, bike to work and do yoga, and drink copious amounts of tea/coffee. Yep, it was only a matter of time before she became a bonafide Californian.</p>
                </div>
            </div>
        </div>
    </section>