
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Portfolio</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="portfolio-category">Technology</h3>
                </div>
                {% for post in site.posts %}
                    {% if post.category == 'technology' %}
                        <div class="col-sm-6 portfolio-item">
                            {% if post.disabled %}
                                <div class="portfolio-link">
                                    <img src="img/portfolio/{{post.img}}" class="img-responsive portfolio-disabled" alt="{{ post.title }}">
                                </div>
                            {% else %}
                                <a href="{{ post.link }}" class="portfolio-link" target="_blank">
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.title }}">
                                </a>
                            {% endif %}
                            <h4>{{ post.title }}</h4>
                            <h6>{{ post.description }}</h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="portfolio-category">Writing</h3>
                </div>
                {% for post in site.posts %}
                    {% if post.category == 'writing' %}
                        <div class="col-sm-6 portfolio-item">
                            {% if post.disabled %}
                                <div class="portfolio-link">
                                    <img src="img/portfolio/{{post.img}}" class="img-responsive portfolio-disabled" alt="{{ post.title }}">
                                </div>
                            {% else %}
                                <a href="{{ post.link }}" class="portfolio-link" target="_blank">
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.title }}">
                                </a>
                            {% endif %}
                            <h4>{{ post.title }}</h4>
                            <h6>{{ post.description }}</h3>
                        </div>
                    {% endif %}
                {% endfor %}
<!--                 <div class="col-sm-4 portfolio-item store-links-container">
                    <a href="https://www.amazon.com/Death-Wish-Lindsey-Menges-ebook/dp/B00GF4LTYQ/ref=sr_1_1?ie=UTF8&qid=1483933343" target="_blank">
                        <img src="img/store_badges/amazon_badge.png" alt="Amazon badge">
                    </a>
                    <a href="http://www.barnesandnoble.com/w/death-wish-lindsey-menges/1117298254?ean=2940148846789" target="_blank">
                        <img src="img/store_badges/nook_badge.png" alt="Nook badge">
                    </a>
                    <a href="https://itunes.apple.com/us/book/death-wish/id1120964903?mt=11" target="_blank">
                        <img src="img/store_badges/ibooks_badge.svg" alt="iBooks badge">
                    </a>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="portfolio-category">Other</h3>
                </div>
                {% for post in site.posts %}
                    {% if post.category == 'other' %}
                        <div class="col-sm-6 portfolio-item other">
                            {% if post.disabled %}
                                <div class="portfolio-link">
                                    <img src="img/portfolio/{{post.img}}" class="img-responsive portfolio-disabled" alt="{{ post.title }}">
                                </div>
                            {% else %}
                                <a href="{{ post.link }}" class="portfolio-link" target="_blank">
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.title }}">
                                </a>
                            {% endif %}
                            <h4>{{ post.title }}</h4>
                            <h6>{{ post.description }}</h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
